
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

#container {
    display: grid;
    width: 900px;
    height: 900px;
    background-color: white;
    margin: auto;
    border: solid;
}

.changeColor {
    background-color: black;
}

.randomColor {
    background-color: blueviolet;
}


.gridStyle {
    width: auto;
    height: auto;
}

/* .buttonRefresh { */
    /* padding: 10px; */
    /* display: grid; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* margin-left: 350px; */
/* } */

.buttons {
    height: 70px;
    align-items: center;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: solid;
    background-color: rgb(243, 182, 255);
}

.buttonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}




