
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#container {
    display: grid;
    width: 700px;
    height: 700px;
    background-color: white;
}

.changeColor {
    background-color: black;
}


#gridStyle {
    width: auto;
    height: auto;
    border-style: solid;
}

.buttonRefresh {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 75px;
}



