* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    padding: 10px;
}

.changeColor {
    background-color: black;
}


#gridStyle {
    width: 30px;
    height: 30px;
    border-style: solid;
}

.buttonRefresh {
    margin: 20px;
}



